./tms-client/node_modules
node_modules
dist
echo "# TMS-Client" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Yellaletscode/TMS-Client.git
git push -u origin main
